@model Market.ViewModels.OrderDetailView
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Orders.Count; i++)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Orders[i].OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Orders[i].Customer.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Orders[i].OrderStatus)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = Model.Orders[i].OrderID }, new { @class = "btn btn-primary" })
        </td>
        <td>
            @Html.ActionLink("Imprimir", "Print", new { id = Model.Orders[i].OrderID }, new { @class = "btn btn-primary" })
        </td>
        
    </tr>
    }

</table>
